/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Allerta', sans-serif;*/

	/*/*width: ;
	height: ;
	
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 13px;*/

	/*padding: 10px 13px 5px 15px;*/
	/*padding-top: 10px;
	border: 2px solid red;
	margin: 10px;*/


body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}
table {
	width: 100%;
}
th {
	background: #273b47;
	color: white;
}
th {
	padding: 10px 20px;
	text-align: left;
}
td {
	padding: 20px;

}
table, td, th {
	border: 1px solid #273b47;
	border-collapse: collapse;
}
input, textarea {
	outline: 0;
}
input:focus, textarea:focus {
	background: lightgray;
}
.contenedor {
	max-width: 850px;
	margin: auto;
	position: relative;

}
.background {
	background-image: url('../images/background.png');
	background-size: cover;
}

.button {
	border-radius: 12px;
	border: none;
	background: #fd324e;
	color: white;
	padding: 7px 12px;
	cursor: pointer;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	/*text-decoration: none;*/
}
.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}
.titulo span {
	text-decoration: underline;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px
}
.title-b {
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 55px;
}
.portada {
	color: white;
	padding: 20px;
	height: 500px;
	
}
.portada button {
	margin-bottom: 70px;
}
.guitarras {
	color: #1f313C;
	margin-bottom: 80px;

}
.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}
.menu li {
	display: inline-block;
	margin-left: 30px;
}
.menu li:before {
	content: '∘';
	font-size: 30px;
	line-height: 20px;
	/*color: #273b47;*/
	color: white;
}

.menu a {
	color: white;
	text-decoration: none;
}
.logotipo {
	display: inline-block;
	margin-left: 0;
}


.right  {
	float: right;
	position: relative;
	top: -112px;
}
.left {
	float: left;
	position: relative;
	top: -43px;


}
.guitarra {
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 20px;
	/*overflow: hidden;*/
	border: 1px solid #1f313C; 
	border-radius: 20px;
}
.guitarra ol {
	padding: 0;
}
.guitarra.b {
	height: 190px;
}


.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	padding-top: 0px;
	margin-left: 400px;
	margin-top: 0px;
	position: relative;
	bottom: 60px;
}

.header {
	position: relative;
}
.footer {
	background: #273b47;
	padding: 50px 50px;

}
.contacto {
	display: flex;
	width: 330px;
	flex-wrap: wrap;
	align-items: center;
	align-content:center;


}

.contacto img {
	display: block;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
}
.contacto strong {
	display: block;
}
.contacto a {
	color: white;
	display: inline-block;
	text-decoration: none;
	margin: 10px 10px 10px 0;

}
.contacto a:first-child{
	margin-right: 5px;
}

.footer .contenedor {
	display: flex;
	justify-content: center;
	

}
.formulario {
	display: flex;
	width: 390px;
	color: white;
	padding-top: 20px;
	
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}
.col1 {
	margin-right: 15px;
}
.col2 {
	align-items: flex-start;
}
.col2 .button {
	margin-top: 15px;
}
.intereses label {
	font-size: 12px;
}
.formulario label, .sexo, .intereses {
	margin-bottom: 12px;
}
.sexo {
	margin-top: 10px;
}

.tabla {
	margin: 10px 0;
}


@media screen and (max-width: 850px){

	/*body{
		border: 10px solid red;
	}*/
	/*.contenedor {
		width: auto;
		max-width: 850px;
	}*/

	/*Trabajando estilos de nuestra portada*/
	.titulo{
		font-size: 35px;
		margin-top: 30px;
	}
	.title-a{
		font-size: 18px;
	}
	.portada{
		height: auto;
	}
	.portada .button{
		margin-bottom: 30px;
		display: inline-block;;
	}

	/*fin estilos de nuestra portada*/


	/*Estilos a la sección de guitarras*/
	.guitarras{
		/*border: 1px solid red;*/
		text-align: center;
	}
	.right, .left {
		float: none;
		position: static;
	}

	.title-b{
		margin: 0;
	}
	.guitarra li{
		list-style: none;
	}

	.guitarra.b{
		height: auto;
		margin: 0;
	}
	.contenedor-guitarra-b{
		position: static;
		margin: 0;
	}
	.contenedor-guitarra-a{
		padding: 0;
	}

	/*Fin estilos a la sección de guitarras*/


}

@media screen and (max-width: 767px){
	/*footer*/
	.footer .contenedor{
		display: block;
	}
	.contacto{
		margin: 0 auto;
		}
	.formulario{
		display: block;
		margin: 0 auto;
		width: 330px;

	}
	.intereses label {
		display: block;
		font-size: 16px;
	}

	.col1{
		margin: 0;
	}

	input[type="text"],	
	input[type="email"]{
		font-size: 16px;
		padding: 5px;
	}

	input[type="radio"],	
	input[type="checkbox"]{
		zoom: 1.5;
	}
	textarea{
		width: 100%;
	}

	/*footer*/
}

@media screen and (max-width: 650px){
	.header{
		text-align: center;
	}


	.menu{
		/*border: 1px solid red;*/
		position: static;
		display: block;
		/*text-align: center;*/

	}

	.menu li:first-child {
		/*border: 1px solid red;*/
		margin: 0;
	}
	.menu ul{
		padding: 0;
	}
	.logotipo{
		margin: 0;
	}


}


/*estilos para la portada tamaño smartphone*/
@media screen and (max-width: 500px){
	

	.menu li {
		display: block;
		margin: 0;
		padding:8px 0;
		border-bottom: 1px solid white;

	}
	.menu li:before{
		display: none;
	}
	.menu li:first-child{
		border-top: 1px solid white;
	}

	.portada {
		text-align: center;
	}

	.titulo{
		font-size: 30px;
	}
	.title-a {
		font-size: 16px;
	}
/*portada*/

	/*Guitarras*/
	.guitarra img{
		width: 200px;
	}

	.title-b{
		font-size: 
	}
	.formulario {
		width: auto;
	}

	.contacto a{
		font-size: 14px;
	}
}